@media (min-width: 1200px) {
    .card {
        height: 350px;
        width: 23%;
        float: left;
        margin-left: 2%;
        border: 2px solid dimgrey;
        margin-top: 2%;
        border-radius: 5%;
    }

    .card .card-header {
        text-align: center;
    }

    .border-card h6 {
        color: #4CAF50;
    }

    .border-card .name {
        border: 1px solid black;
        width: 100%;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        height: 15%;
        padding-top: 10px;
    }

    .border-card .skills {
        border: 1px solid black;
        text-align: left;
        padding-left: 10px;
        background: floralwhite;
        padding-bottom: 10px;
    }

}
