{% extends 'peopleDB/base.html' %}
{% load static %}
{% load base_tags %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}


    <div class="container" style="background-color: azure;
    border: 1px solid;
    width: 100%;
    margin-top: 10px;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;">

        <!-- Content here -->
        <form method="get">
            <div class="form-row">
                <p>Город:</p> {{ filter.form.city|add_class:'js-city-multiple'}}
            </div>
            <div>
                <p>Навыки:</p>{{ filter.form.skills|add_class:'js-skills-multiple'}}
            </div>
            <div>
                <p>Должность:</p>{{ filter.form.position}}
            </div>

            <button type="submit" class="btn btn-secondary btn-icon" style="float: right"><span class="icon"><i class="fas fa-search"></i></span>Search</button>
           <p> Найдено: {{ filter.qs.count }}</p>
        </form>

    </div>

    <div style="margin-right: 2%; margin-left: 2%; float: right; width: 75%">

        {% for d in filter.qs %}
            <p>{{ d.name }} - {{ d.position }} - {{ d.city }} -<a href="{{ d.link }}">link to profile</a></p>
        {% endfor %}
    </div>

    {% block javascript %}
        <script>
            $(document).ready(function () {
                $('.js-city-multiple').select2();
                $('.js-skills-multiple').select2();

            });
        </script>
    {% endblock %}

{% endblock %}