{% extends 'peopleDB/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <h1 class="title">Developers list</h1>
    <h3 class="title">Всего в базе {{ list.count}}</h3>
    <div class="container">
        <!-- Content here -->
        <form method="get">
            {{ filter.form|crispy }}
            <button type="submit" class="btn btn-secondary btn-icon"><span class="icon"><i class="fas fa-search"></i></span>Search</button>
        </form>

    </div>

        <br>
        <h2 class="t">Найдено: {{ filter.qs.count }}</h2>
        {% for d in filter.qs %}
            <div class="border">
                <div class="header_name">
                    {{ d.name }}
                </div>
                <div class="header_city">{{ d.city }}</div>
                <div>{{ d.rank_position }}  {{ d.position }}</div>
                <div>{{ d.date_add }}</div>
                <div></div>
                <div>{{ d.step_recruit }}</div>
                <div class="bottom">
                    <a href="{% url 'dev_view' id=d.id%}"><button type="button" class="btn btn-primary btn-circle"><i class="fas fa-eye"></i></button></a>
                </div>

            </div>


        {% endfor %}



{% endblock %}